body {
    background-image: url("../images/WebsitePage1BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    float: top;
    text-align: center;
    border: 2px dashed black;
    margin:0 auto;
    width: 200px ;
    clip-path: polygon(50% 14%, 99% 37%, 80% 79%, 21% 79%, 2% 37%);

}

section{
    height: 600px;
    overflow: auto;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid rgb(141, 4, 196);
    left: 0;
    right: 0;
    background-color: #ffffffc7;
    font-family: Arial, Helvetica, sans-serif;
    font: "Helvetica";
    color:black;
}

article {
    margin: 2.5px;
    border: 5px dashed rgb(4, 172, 13);
    padding: 5px;
}

aside {
    width: auto;
    height: 600px;
    overflow: auto;
    padding: 20px;
    background-color: #ffffffc7;
    font-family: Arial, Helvetica, sans-serif;
    font: "Arial";
    padding-left: 15px;
    margin-left: 0px;
    float: right;
    border: 10px solid rgb(141, 4, 196);
    border-left: none;

}

figure {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 5px dotted rgba(0, 0, 0, 0.329);
    color:white;
}

figure > h2{
    color: white;
    text-shadow: 2px 1px black;
    font-family: Arial, Helvetica, sans-serif;
}

iframe {
    width: 480px;
    height: 270px;
}

div.vidDos {
    margin-top: 7.5px;
}

figcaption {
    color: white;
    text-shadow: 1px 1px rgb(105, 105, 105);
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
    color:blue;
}
  
  a:hover {
    text-decoration: underline;
}
  
  a:active {
    text-decoration: underline;
}

footer {
    height: max-content;
    padding: 5px;
    border:none;
    text-align: left;
    background-color: rgba(4, 0, 58, 0.76);
    color: white;
    flex-shrink: 0;
    bottom: 0;
}

footer > .sources {
    font-style: italic;
}
